.thank-you-container {
    text-align: center;
    padding: 20px;
  }
  
  .thank-you-header {
    font-size: 2em; /* Adjust the size as needed */
  }
  
  .thank-you-message {
    font-size: 1.5em; /* Adjust the size as needed */
  }

  .buttons {
    display: flex;
    padding-top: 20px;
  
    .a {
      
      padding: 10px 20px;
      text-decoration: none;
      color: #ffffff;
      background-color: #ff6565;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #ff3939;
      }
    }
  }
  