.titel-yoga {
  // Styles for the "Yoga Classes" heading
}

.yogalist {
  list-style: none;
  padding-left: 25em;
  padding-top: 20px;
}

  .Yoga-list-item {
    @import './yogaListItem.scss'; // Import the SCSS file for the list item
  }
