.yogaClassListItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.yogaClassListItem h3 {
  color: #333;
}

.yogaClassListItem p {
  margin: 5px 0;
}

.beginnerClass {
  background-color: #cfe2ff;
}

.intermediateClass {
  background-color: #b3e0a5;
}

.advancedClass {
  background-color: #ffd699;
}

.defaultClass {
  background-color: #ffffff;
}