.booking-page {
  
  background-color: #030101;
  padding: 20px;
}

.loading-message {
  // Add styles for the loading message
  font-size: 16px;
  color: #888;
}

.yoga-list {
  border: 1px solid #0c0505;
}

.yoga-class-card {
  // Add styles for each yoga class card
  border: 1px solid #0c0505;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  h2 {
    // Styles for the yoga class name
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    // Styles for additional information
    font-size: 14px;
    color: #555;
  }
}